* {
    box-sizing: border-box;
}
.square {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: coral;
    animation: square-move 4s ;
    animation-iteration-count: 2;
    animation-direction: alternate;

}
@keyframes square-move {
    0% { 
        left: 0;
    }
    25% {
        left: 300px;
        top: 0;
        background-color: cornflowerblue;
    }
    50% {
        left: 300px;
        top: 300px;
        background-color: aqua;
    }

    75% {
        left: 0;
        top: 300px;
        background-color: yellowgreen;
    }
    100% {
        top: 0;
        left: 0;
    }
    
}