[type="checkbox"]:checked {
    margin-left: 50px;
}
#special::first-letter {
    font-size: 100px;
    color: green;
}
a:visited {
    color: gray;
}
h1:hover {
    color: blue;
}
label {
    text-transform: uppercase;
}