@import 'variables.scss';

.header {
  //   height: $unit * 7;
  background-color: $color-gray;
  &__navigation {
  }
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: $unit * 7;
  &__item {
    padding: $unit;
    background-color: $color-secondary;
    margin-left: $unit;
    border-radius: $border-radius;
    color: $text-color-secondary;
    font-weight: 700;
    cursor: pointer;
    &_selected {
      background-color: $color-primary;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
