html {
    font-size: 18px;
    /* box-sizing: border-box; */
}
.properties-list {
    list-style-type: none;
    color: #f39;
    line-height: 32px;
    font-size: 24px;
}
.properties-list__item {
    padding: 8px; 
    /* font-size: 24px; */
}