 * {
    box-sizing: border-box;
} 
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
.block {
    width: 250px;
    height: 100px;
    background-color: coral;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700; 
    color: white;
    text-transform: uppercase;
    position: absolute;  
    left: calc(50vw - 125px); 
    /* top: calc(50vh-50px); */
    animation: block 2s ease;
    animation-fill-mode: forwards;


   
}

@keyframes  block {
    0% {
        top: -100px;
    }
    100% {
        top: calc(50vh - 50px);

    }
    
}